MAAC
BAK
hcanet-3.27_maddpg-MAAC(trush)
HGAT-MADDPG_ver2-MAAC(trush)
# hcanet-3.27_maddpg/data
# hcanet-3.27_maddpg_old/data
# hcanet-3.27_maddpg-MAAC/data
# hcanet-3.27_maddpg-MAAC(trush)/data
# HGAT-MADDPG_ver1/data
# HGAT-MADDPG_ver2/data
# HGAT-MADDPG_ver2-MAAC(trush)/data